<launch>
  <!-- 1. 启动核心大脑参数 (满足它所有的参数强迫症) -->
  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="map_size_x_" value="40.0"/>
    <arg name="map_size_y_" value="40.0"/>
    <arg name="map_size_z_" value="5.0"/>
    <arg name="odometry_topic" value="/mavros/local_position/odom"/>
    <arg name="camera_pose_topic" value="/mavros/local_position/pose"/>
    <arg name="depth_topic" value="/camera/depth/image_rect_raw"/>
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>
    
    <arg name="cx" value="320.5"/>
    <arg name="cy" value="240.5"/>
    <arg name="fx" value="554.25"/>
    <arg name="fy" value="554.25"/>
    
    <arg name="max_vel" value="1.5"/>
    <arg name="max_acc" value="2.0"/>
    <arg name="planning_horizon" value="7.5"/>
    
    <arg name="point_num" value="1"/>
    <!-- 这里的 point0 是没用的，因为我们飞行模式是 1（手动点） -->
    <arg name="point0_x" value="0.0"/> <arg name="point0_y" value="0.0"/> <arg name="point0_z" value="2.0"/>
    <!-- 下面这些全是为了堵住报错的占位符 -->
    <arg name="point1_x" value="0.0"/> <arg name="point1_y" value="0.0"/> <arg name="point1_z" value="2.0"/>
    <arg name="point2_x" value="0.0"/> <arg name="point2_y" value="0.0"/> <arg name="point2_z" value="2.0"/>
    <arg name="point3_x" value="0.0"/> <arg name="point3_y" value="0.0"/> <arg name="point3_z" value="2.0"/>
    <arg name="point4_x" value="0.0"/> <arg name="point4_y" value="0.0"/> <arg name="point4_z" value="2.0"/>
    
    <arg name="flight_type" value="1"/> <!-- 1 代表接受 RViz 的 2D Nav Goal 手动指派目标 --><!-- 2 代表根据航电指派目标 -->
  </include>

  <!-- 2. 启动轨迹服务器（大脑翻译官） -->
  <node pkg="ego_planner" name="traj_server" type="traj_server" output="screen">
    <remap from="/position_cmd" to="/position_cmd"/>
    <remap from="/odom_world" to="/mavros/local_position/odom"/>
    <param name="traj_server/time_forward" value="1.0" type="double"/>
  </node>

<!-- 4. 目标点翻译官（把你点的鼠标翻译给算法） -->
  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator">
      <remap from="~odom" to="/mavros/local_position/odom"/>
      <remap from="~goal" to="/move_base_simple/goal"/>
      <param name="waypoint_type" value="manual-lonely-waypoint"/>
  </node>

  <!-- 3. 启动清爽版 RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch>